DATABASE_URL="sqlserver://server:port;database=database_name;user=username;password=password;encrypt=true;trustServerCertificate=false;connection_limit=35;pool_timeout=60;query_timeout=120"



REDIS_URL=""

NODE_ENV=production
QUERY_LOGGING=false

